@import 'antd/dist/antd.css';

main {
  text-align: center;
  vertical-align: center;
  line-height: 5vh;
  min-height: 100vh;
  padding-bottom: 20vh;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.menu-item-60146 {
  float: right;
}